# Task 02 - Track B: Advanced DataFrame Operations

**Course:** Database Applications Development  
**Lesson:** 02 - Working with DataFrames (Preparing for SQL)  

---

## Instructions

Complete all exercises in this notebook. Track B includes significantly more practice with multiple conditions, chaining operations, and deeper analysis.

**Submission:**
1. Save this notebook as `dbAppsTask02TrackB.ipynb`
2. Add, commit, and push to your `databaseApplications` repository on GitHub
3. Verify the file appears correctly on GitHub

---

## Setup: Load the Dataset

In [1]:
# Import pandas and load data
import pandas as pd

titanic = pd.read_csv('Titanic_Dataset.csv')

# Quick check
print(titanic.shape)
titanic.head()

(1309, 14)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

---

## Part 1: Selecting Columns

### Exercise 1.1: Select Single Columns

Select and display the first 10 values:
1. The 'age' column
2. The 'fare' column

In [12]:
# Age column
age = titanic['age']
print(age.head(10))

0    29.00
1     0.92
2     2.00
3    30.00
4    25.00
5    48.00
6    63.00
7    39.00
8    53.00
9    71.00
Name: age, dtype: float64

In [13]:
# Fare column
fare = titanic['fare']
print(fare.head(10))

0    211.3375
1    151.5500
2    151.5500
3    151.5500
4    151.5500
5     26.5500
6     77.9583
7      0.0000
8     51.4792
9     49.5042
Name: fare, dtype: float64

### Exercise 1.2: Select Multiple Columns

Create a DataFrame called `passenger_info` with these columns: 'name', 'sex', 'age', 'survived'

Display the first 10 rows.

In [14]:
# Your code here
passenger_info = titanic[['name', 'sex', 'age', 'survived']]
print(passenger_info.head(10))

                                              name     sex    age  survived
0                    Allen, Miss. Elisabeth Walton  female  29.00         1
1                   Allison, Master. Hudson Trevor    male   0.92         1
2                     Allison, Miss. Helen Loraine  female   2.00         0
3             Allison, Mr. Hudson Joshua Creighton    male  30.00         0
4  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00         0
5                              Anderson, Mr. Harry    male  48.00         1
6                Andrews, Miss. Kornelia Theodosia  female  63.00         1
7                           Andrews, Mr. Thomas Jr    male  39.00         0
8    Appleton, Mrs. Edward Dale (Charlotte Lamson)  female  53.00         1
9                          Artagaveytia, Mr. Ramon    male  71.00         0

---

## Part 2: Filtering Rows

### Exercise 2.1: Filter by Survival

Create a DataFrame called `survivors` with only passengers who survived.

Print how many survivors there were.

In [15]:
# Your code here
survivors = titanic['survived']
counts = survivors.value_counts()
print("Number of survivors:", counts[5])

KeyError: 5

### Exercise 2.2: Filter by Gender

Create a DataFrame called `females` with only female passengers.

Print how many there were.

In [16]:
# Your code here
filterNum = titanic['sex'] == 'female'
females = titanic[filterNum]
print(females.head(10))

    pclass  survived                                               name  \
0        1         1                      Allen, Miss. Elisabeth Walton
2        1         0                       Allison, Miss. Helen Loraine
4        1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
6        1         1                  Andrews, Miss. Kornelia Theodosia
8        1         1      Appleton, Mrs. Edward Dale (Charlotte Lamson)
11       1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
12       1         1                      Aubart, Mme. Leontine Pauline
13       1         1                       Barber, Miss. Ellen "Nellie"
17       1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
18       1         1                              Bazzani, Miss. Albina

       sex   age  sibsp  parch    ticket      fare    cabin embarked boat  \
0   female  29.0      0      0     24160  211.3375       B5        S    2
2   female   2.0      1      2    113781  151.5500  C22 C26        S  NaN
4   female  25.0      1      2    113781  151.5500  C22 C26        S  NaN
6   female  63.0      1      0     13502   77.9583       D7        S   10
8   female  53.0      2      0     11769   51.4792     C101        S    D
11  female  18.0      1      0  PC 17757  227.5250  C62 C64        C    4
12  female  24.0      0      0  PC 17477   69.3000      B35        C    9
13  female  26.0      0      0     19877   78.8500      NaN        S    6
17  female  50.0      0      1  PC 17558  247.5208  B58 B60        C    6
18  female  32.0      0      0     11813   76.2917      D15        C    8

    body                        home.dest
0    NaN                     St Louis, MO
2    NaN  Montreal, PQ / Chesterville, ON
4    NaN  Montreal, PQ / Chesterville, ON
6    NaN                       Hudson, NY
8    NaN              Bayside, Queens, NY
11   NaN                     New York, NY
12   NaN                    Paris, France
13   NaN                              NaN
17   NaN                     Montreal, PQ
18   NaN                              NaN

### Exercise 2.3: Filter by Class

Create a DataFrame called `first_class` with only first class passengers.

Print how many there were.

In [17]:
# Your code here
first_class = titanic[titanic['pclass'] == 1]
print(first_class.head())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

     age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.00      0      0   24160  211.3375       B5        S    2    NaN
1   0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

### Exercise 2.4: Filter by Age

Create a DataFrame called `children` with passengers 12 or younger.

Print how many there were.

In [18]:
# Your code here
young = titanic[titanic['age'] <= 12]
print(young.head())

     pclass  survived                                 name     sex    age  \
1         1         1       Allison, Master. Hudson Trevor    male   0.92
2         1         0         Allison, Miss. Helen Loraine  female   2.00
54        1         1  Carter, Master. William Thornton II    male  11.00
94        1         1            Dodge, Master. Washington    male   4.00
273       1         1      Spedden, Master. Robert Douglas    male   6.00

     sibsp  parch  ticket      fare    cabin embarked boat  body  \
1        1      2  113781  151.5500  C22 C26        S   11   NaN
2        1      2  113781  151.5500  C22 C26        S  NaN   NaN
54       1      2  113760  120.0000  B96 B98        S    4   NaN
94       0      2   33638   81.8583      A34        S    5   NaN
273      0      2   16966  134.5000      E34        C    3   NaN

                           home.dest
1    Montreal, PQ / Chesterville, ON
2    Montreal, PQ / Chesterville, ON
54                     Bryn Mawr, PA
94                 San Francisco, CA
273                  Tuxedo Park, NY

---

## Part 3: Sorting Data

### Exercise 3.1: Sort by Age

Sort passengers by age and display name and age for the 10 youngest.

In [19]:
# Your code here
sortedAge = titanic.sort_values('age')
print(sortedAge[['name', 'age']].head())

                                         name   age
763   Dean, Miss. Elizabeth Gladys "Millvina"  0.17
747   Danbom, Master. Gilbert Sigvard Emanuel  0.33
1240          Thomas, Master. Assad Alexander  0.42
427                 Hamalainen, Master. Viljo  0.67
658             Baclini, Miss. Helene Barbara  0.75

### Exercise 3.2: Sort by Fare

Sort passengers by fare (highest first) and display name and fare for the top 10.

In [20]:
# Your code here
highestFare = titanic.sort_values('fare', ascending=False)
print(highestFare[['name', 'fare']].head())

                                                  name      fare
302                                   Ward, Miss. Anna  512.3292
49                  Cardeza, Mr. Thomas Drake Martinez  512.3292
50   Cardeza, Mrs. James Warburton Martinez (Charlo...  512.3292
183                             Lesurer, Mr. Gustave J  512.3292
116                Fortune, Mrs. Mark (Mary McDougald)  263.0000

---

## Part 4: Statistics

### Exercise 4.1: Overall Statistics

Calculate and print:
1. Average age
2. Average fare
3. Maximum fare
4. Minimum age

In [21]:
# Your code here
print(titanic['age'].mean())
print(titanic['fare'].mean())
print(titanic['fare'].max())
print(titanic['age'].min())

29.881137667304014
33.29547928134557
512.3292
0.17

### Exercise 4.2: Statistics on Filtered Data

Calculate:
1. Average age of survivors
2. Average fare of first class passengers

In [22]:
# Your code here
survivors = titanic[titanic['survived'] == 1]
print("Average survivor age:", survivors['age'].mean())

Average survivor age: 28.91824355971897

---

## Part 5: Value Counts

### Exercise 5.1: Count Values

Use `.value_counts()` to find:
1. How many in each class
2. How many male vs female
3. How many survived vs died

In [23]:
# Class counts
firstClass = (titanic['pclass'] == 1).value_counts()
print('Number of first class:', firstClass)

secondClass = (titanic['pclass'] == 2).value_counts()
print('Number of first class:', secondClass)

thirdClass = (titanic['pclass'] == 3).value_counts()
print('Number of third class:', thirdClass)

Number of first class: pclass
False    986
True     323
Name: count, dtype: int64
Number of first class: pclass
False    1032
True      277
Name: count, dtype: int64
Number of third class: pclass
True     709
False    600
Name: count, dtype: int64

In [24]:
# Gender counts
isFemale = (titanic['sex'] == 'female').value_counts()
print("How many passengers are female:\n   ", isFemale)

How many passengers are female:
    sex
False    843
True     466
Name: count, dtype: int64

In [25]:
# Survival counts
isSurvivor = (titanic['survived'] == 1).value_counts()
print("How many passengers survived?", isSurvivor)

How many passengers survived? survived
False    809
True     500
Name: count, dtype: int64

---

## Part 6: Multiple Condition Filtering (Track B)

Combine conditions using & (AND) and | (OR). Remember: each condition needs parentheses!

### Example: Combining Conditions

In [26]:
# AND (&) - Both conditions must be True
# Find male survivors
male_survivors = titanic[
    (titanic['sex'] == 'male') & 
    (titanic['survived'] == 1)
]
print(f"Male survivors: {len(male_survivors)}")

# OR (|) - At least one condition must be True
# Find first or second class passengers
upper_class = titanic[
    (titanic['pclass'] == 1) | 
    (titanic['pclass'] == 2)
]
print(f"Upper class passengers: {len(upper_class)}")

# CRITICAL: Each condition MUST have parentheses around it!

Male survivors: 161
Upper class passengers: 600

### Exercise 6.1: Female Survivors

Find all female passengers who survived.

How many were there?

In [27]:
# Your code here
# Hint: (titanic['sex'] == 'female') & (titanic['survived'] == 1)
survivedFemales = titanic[
    (titanic['sex'] == 'female') &
    (titanic['survived'] == 1)
]
print(f"Survived women passengers: {len(survivedFemales)}")

Survived women passengers: 339

### Exercise 6.2: Upper Class Passengers

Find passengers in either first OR second class.

How many were there?

In [28]:
# Your code here
# Hint: (titanic['pclass'] == 1) | (titanic['pclass'] == 2)
upper_class = titanic[
    (titanic['pclass'] == 1) | 
    (titanic['pclass'] == 2)
]
print(f"Upper class amount (1 amd 2): {len(upper_class)}")

Upper class amount (1 amd 2): 600

### Exercise 6.3: Male First Class Survivors

Find male passengers in first class who survived.

Display name, age, and fare for all of them.

In [29]:
# Your code here (three conditions with &)
maleFirstSurvivors = titanic[
    (titanic['sex'] == 'male') & 
    (titanic['pclass'] == 1) & 
    (titanic['survived'] == 1)
]
print('1st class males who survived: ')
print(maleFirstSurvivors[['name','age','fare']])

1st class males who survived:
                                     name    age      fare
1          Allison, Master. Hudson Trevor   0.92  151.5500
5                     Anderson, Mr. Harry  48.00   26.5500
14   Barkworth, Mr. Algernon Henry Wilson  80.00   30.0000
20          Beckwith, Mr. Richard Leonard  37.00   52.5542
22                  Behr, Mr. Karl Howell  26.00   30.0000
..                                    ...    ...       ...
292              Taylor, Mr. Elmer Zebley  48.00   52.0000
295           Thayer, Mr. John Borland Jr  17.00  110.8833
298       Tucker, Mr. Gilbert Milligan Jr  31.00   28.5375
317       Williams, Mr. Richard Norris II  21.00   61.3792
320                     Woolner, Mr. Hugh    NaN   35.5000

[61 rows x 3 columns]

### Exercise 6.4: Children Who Survived

Find passengers who were 12 or younger AND survived.

How many children survived?

In [30]:
# Your code here
young_survivors = titanic[
    (titanic['age'] < 12) & 
    (titanic['survived'] == 1)
]
print(f"Children who survived total: {len(young_survivors)}")

Children who survived total: 51

### Exercise 6.5: Expensive Tickets in Third Class

Find third class passengers who paid more than $20 for their fare.

How many were there? (This seems unusual - third class was cheap!)

In [31]:
# Your code here
expensiveThirdClass = titanic[
    (titanic['pclass'] == 3) &
    (titanic['fare'] > 20.00)
]
print(f"Expensive tickets (in third class > 20): {len(expensiveThirdClass)}")

Expensive tickets (in third class > 20): 116

### Exercise 6.6: Complex Filter

Find passengers who meet ALL these conditions:
- Female
- Age between 20 and 40 (inclusive)
- Paid more than $30 fare

Display name, age, fare for the first 10.

In [32]:
# Your code here (four conditions!)
youngExpensiveFemales = titanic[
    (titanic['sex'] == 'female') &
    (titanic['age'] >= 20) & (titanic['age'] <= 40) &
    (titanic['fare'] > 30)
]
print(youngExpensiveFemales[['name', 'age', 'fare']].head(10))

                                               name   age      fare
0                     Allen, Miss. Elisabeth Walton  29.0  211.3375
4   Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  25.0  151.5500
12                    Aubart, Mme. Leontine Pauline  24.0   69.3000
13                     Barber, Miss. Ellen "Nellie"  26.0   78.8500
18                            Bazzani, Miss. Albina  32.0   76.2917
24                                Bird, Miss. Ellen  29.0  221.7792
28                           Bissette, Miss. Amelia  35.0  135.6333
32                          Bonnell, Miss. Caroline  30.0  164.8667
36                      Bowerman, Miss. Elsie Edith  22.0   55.0000
57        Carter, Mrs. William Ernest (Lucile Polk)  36.0  120.0000

---

## Part 7: Advanced Sorting (Track B)

### Example: Sort by Multiple Columns

In [33]:
# Sort by class (ascending), then by fare within each class (descending)
sorted_df = titanic.sort_values(
    ['pclass', 'fare'],           # List of columns to sort by
    ascending=[True, False]        # True for ascending, False for descending
)

# Display name, class, and fare for first 20
print(sorted_df[['name', 'pclass', 'fare']].head(20))

# This groups by class first, then sorts by fare within each class

                                                  name  pclass      fare
49                  Cardeza, Mr. Thomas Drake Martinez       1  512.3292
50   Cardeza, Mrs. James Warburton Martinez (Charlo...       1  512.3292
183                             Lesurer, Mr. Gustave J       1  512.3292
302                                   Ward, Miss. Anna       1  512.3292
111                     Fortune, Miss. Alice Elizabeth       1  263.0000
112                         Fortune, Miss. Ethel Flora       1  263.0000
113                         Fortune, Miss. Mabel Helen       1  263.0000
114                     Fortune, Mr. Charles Alexander       1  263.0000
115                                  Fortune, Mr. Mark       1  263.0000
116                Fortune, Mrs. Mark (Mary McDougald)       1  263.0000
35                            Bowen, Miss. Grace Scott       1  262.3750
66                         Chaudanson, Miss. Victorine       1  262.3750
249                        Ryerson, Master. John Borie       1  262.3750
250                         Ryerson, Miss. Emily Borie       1  262.3750
251              Ryerson, Miss. Susan Parker "Suzette"       1  262.3750
252                         Ryerson, Mr. Arthur Larned       1  262.3750
253    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)       1  262.3750
16                            Baxter, Mr. Quigg Edmond       1  247.5208
17     Baxter, Mrs. James (Helene DeLaudeniere Chaput)       1  247.5208
97   Douglas, Mrs. Frederick Charles (Mary Helene B...       1  247.5208

### Exercise 7.1: Sort by Multiple Columns

Sort passengers by class (ascending), then by fare within each class (descending).

Display name, pclass, fare for the first 20 rows.

In [ ]:
# Your code here
# Hint: sort_values(['pclass', 'fare'], ascending=[True, False])
sortd = titanic.sort_values(
    ['pclass', 'fare'],
    ascending=[True, False]
)
print(sortd.head(20))

### Exercise 7.2: Who Paid the Least?

Find the 10 passengers who paid the lowest fares.

Display name, pclass, and fare.

In [ ]:
# Your code here
lowFare = titanic.sort_values(['fare'], ascending=[True])

print(lowFare[['name','pclass', 'fare']].head(10))

### Exercise 7.3: Oldest in Each Class

Sort by class (ascending) and age (descending).

This groups each class together with oldest first. Display name, pclass, age for first 30.

In [ ]:
# Your code here
oldest_in_class = titanic.sort_values(['pclass', 'age'], ascending=[True, False])

print(oldest_in_class[['name', 'pclass', 'age']].head(30))

### Exercise 7.3: Oldest in Each Class

Sort by class (ascending) and age (descending).

This groups each class together with oldest first. Display name, pclass, age for first 30.

---

## Part 8: Chaining Operations (Track B)

Combine filtering, selecting, and sorting in one statement.

### Example: Chaining Multiple Operations

In [ ]:
# Chain: Filter → Select columns → Sort → Display
result = titanic[
    titanic['survived'] == 1                    # Step 1: Filter for survivors
][['name', 'age', 'pclass']                     # Step 2: Select specific columns
].sort_values('age'                             # Step 3: Sort by age
).head(10)                                       # Step 4: Get first 10

print(result)

# This gets the 10 youngest survivors with their name, age, and class

### Exercise 8.1: Female Survivors by Age

Chain operations to:
1. Filter for female survivors
2. Select name, age, pclass columns
3. Sort by age
4. Display first 10

In [ ]:
# Your code here (one long chain!)
femSurvivorsByAge = titanic[
    (titanic['sex'] == 'female') & (titanic['survived'] == 1)
][['name', 'age', 'pclass']].sort_values('age').head(10)

print(femSurvivorsByAge)

### Exercise 8.2: First Class by Fare

Chain operations to:
1. Filter for first class
2. Select name, age, fare
3. Sort by fare (highest first)
4. Display first 15

In [ ]:
# Your code here
firstClassByFare = titanic[ titanic['pclass'] == 1 ][['name', 'age', 'fare']].sort_values('fare', ascending=False).head(15)

print(firstClassByFare)

### Exercise 8.3: Young Male Survivors

Chain operations to:
1. Filter for males under 18 who survived
2. Select name, age, pclass
3. Sort by age (youngest first)
4. Display all

In [ ]:
# Your code here
youngMaleSurvivors = titanic[
    (titanic['sex'] == 'male') & (titanic['survived'] == 1) & (titanic['age'] <= 18)
][['name', 'age', 'pclass']].sort_values('age', ascending=True)

print(youngMaleSurvivors)

---

## Part 9: Extended Statistics (Track B)

### Example: Statistics by Subgroups

In [ ]:
# Calculate statistics for different subgroups

# Average fare for first class
first_class = titanic[titanic['pclass'] == 1]
avg_first_fare = first_class['fare'].mean()
print(f"First class average fare: ${avg_first_fare:.2f}")

# Average fare for third class
third_class = titanic[titanic['pclass'] == 3]
avg_third_fare = third_class['fare'].mean()
print(f"Third class average fare: ${avg_third_fare:.2f}")

# Compare the two
print(f"Difference: ${avg_first_fare - avg_third_fare:.2f}")

### Exercise 9.1: Statistics by Class

Calculate the average fare for each class separately.

Which class paid the most on average?

In [ ]:
# Your code here
firstClass = titanic[titanic['pclass'] == 1]
avgFirstFare = firstClass['fare'].mean()
print(f"First class fare average: ${avgFirstFare:.2f}")

secondClass = titanic[titanic['pclass'] == 2]
avgSecondClass = secondClass['fare'].mean()
print(f"Second class fare average: ${avgSecondClass:.2f}")

thirdClass = titanic[titanic['pclass'] == 3]
avgThirdClass = thirdClass['fare'].mean()
print(f"Third class fare average: ${avgThirdClass:.2f}")

### Exercise 9.2: Survival Rates by Gender

Calculate the percentage of males who survived and the percentage of females who survived.

Which gender had a higher survival rate?

In [ ]:
# Your code here
maleTotal = len(titanic[titanic['sex'] == 'male'])
maleSurvival = len(titanic[(titanic['sex'] == 'male') & (titanic['survived'] == 1)])
malePercent = (maleSurvival / maleTotal) * 100
print(f"There are {maleTotal} total males and {maleSurvival} survived... This means males had a {malePercent:.2f}% survival rate.")

femaleTotal = len(titanic[titanic['sex'] == 'female'])
femaleSurvival = len(titanic[(titanic['sex'] == 'female') & (titanic['survived'] == 1)])
femalePercent = (femaleSurvival / femaleTotal) * 100
print(f"There are {femaleTotal} total females and {femaleSurvival} survived... This means females had a {femalePercent:.2f}% survival rate.")

### Exercise 9.3: Age Statistics by Survival

Calculate:
1. Average age of survivors
2. Average age of non-survivors
3. Who was older on average?

In [ ]:
# Your code here
averageAgeSurvivors = titanic['age'][titanic['survived'] == 1].mean()

averageAgeNonSurvivors = titanic['age'][titanic['survived'] == 0].mean()

print(f"Average age of survivors: {averageAgeSurvivors:.2f}")
print(f"Average age of non-survivors: {averageAgeNonSurvivors:.2f}")

if averageAgeNonSurvivors > averageAgeSurvivors:
    print("Non-survivors were older on average.")
else:
    print("Survivors were older on average.")

---

## Part 10: Analysis Questions

### Question 1: Survival Rate

What percentage of passengers survived?

In [ ]:
# Your code here
totalPass = len(titanic)
totalSurvived = len(titanic[titanic['survived'] == 1])
percentSurvival = (totalSurvived / totalPass) * 100
print(f"Average Survival Rate: {percentSurvival:.2f}%")

**Answer:** 38.20% is the survival rate

### Question 2: Class Distribution

Which class had the most passengers?

In [ ]:
# Your code here
firstClassPass = len(titanic[titanic['pclass'] == 1])
secondClassPass = len(titanic[titanic['pclass'] == 2])
thirdClassPass = len(titanic[titanic['pclass'] == 3])

if (firstClassPass > secondClassPass) & (firstClassPass > thirdClassPass):
    print('First Class Was Largest')
elif (secondClassPass > firstClassPass) & (secondClassPass > thirdClassPass):
    print('Second Class Was Largest')
elif (thirdClassPass > secondClassPass) & (thirdClassPass > firstClassPass):
    print('Third Class Was Largest')
else:
    print('There must be a tie')

**Answer:** Third Class was ther largest, probably because it was cheap

### Question 3: Age Comparison

What was the average age of first class vs third class passengers?

In [ ]:
# Your code here
avgAgeFirst = titanic['age'][titanic['pclass'] == 1].mean()
avgAgeThird = titanic['age'][titanic['pclass'] == 3].mean()

print(f"Third: {avgAgeThird:.2f}, First: {avgAgeFirst:.2f}")

**Answer:** Third: 24.82, First: 39.16

### Question 4: Gender Distribution

Were there more male or female passengers?

In [6]:
# Your code here
maleAmount = len(titanic[titanic['sex'] == 'male'])
femaleAmount = len(titanic[titanic['sex'] == 'female'])

if maleAmount > femaleAmount:
    print('There are more males than females')
else:
    print('There are more females than males')

There are more males than females

**Answer:** There are more males than females

### Question 5: Fare Comparison

Did survivors pay more on average than non-survivors?

In [7]:
# Your code here
survivorPrice = titanic['fare'][titanic['survived'] == 1].mean()
nonSurvivorPrice = titanic['fare'][titanic['survived'] == 0].mean()

if nonSurvivorPrice > survivorPrice:
    print('Non-survivors payed more on average')
else:
    print('Survivors payed more on average')

Survivors payed more on average

**Answer:** Survivors payed more on average

### Question 6: Child Survival Rate

What percentage of children (age <= 12) survived compared to adults (age > 12)?

In [9]:
# Your code here
childCount = len(titanic[titanic['age'] <= 12])
childSurvivedCount = len(titanic[(titanic['survived'] == 1) & (titanic['age'] <= 12)])
childPercent = (childSurvivedCount / childCount) * 100

adultCount = len(titanic[titanic['age'] > 12])
adultSurvivedCount = len(titanic[(titanic['survived'] == 1) & (titanic['age'] > 12)])
adultPercent = (adultSurvivedCount / adultCount) * 100

if(childPercent > adultPercent):
    print('More children survived')
else:
    print('More adults survived')

More children survived

**Answer:** More children survived

### Question 7: Fare and Survival

Did survivors pay higher fares on average than non-survivors? Why might this be?

In [10]:
# Your code here
survivorFareAvg = titanic['fare'][titanic['survived'] == 1].mean()
nonSurvivorFareAvg = titanic['fare'][titanic['survived'] == 0].mean()
if (survivorFareAvg > nonSurvivorFareAvg):
    print('Survivors payed more on average')
else:
    print('Non-survivors payed more on average')

Survivors payed more on average

**Answer:** Survivors payed more on average, possibly because the lifeboats were closer to the 1st class cabins or because there were more lower class people competeing for the lifeboats.

### Question 8: Class Survival Rates

Calculate the survival rate for each class (1st, 2nd, 3rd). Which class had the highest survival rate?

In [11]:
# Your code here
firstClass = len(titanic[titanic['pclass'] == 1])
secondClass = len(titanic[titanic['pclass'] == 2])
thirdClass = len(titanic[titanic['pclass'] == 3])

firstClassSurvivors = len(titanic[(titanic['pclass'] == 1) & (titanic['survived'] == 1)])
secondClassSurvivors = len(titanic[(titanic['pclass'] == 2) & (titanic['survived'] == 1)])
thirdClassSurvivors = len(titanic[(titanic['pclass'] == 3) & (titanic['survived'] == 1)])

firstClassPercent = (firstClassSurvivors / firstClass) * 100
secondClassPercent = (secondClassSurvivors / secondClass) * 100
thirdClassPercent = (thirdClassSurvivors / thirdClass) * 100

if (firstClassPercent > secondClassPercent) & (firstClassPercent > thirdClassPercent):
    print('First Class Had the Largest Survival Rate')
elif (secondClassPercent > firstClassPercent) & (secondClassPercent > thirdClassPercent):
    print('Second Class Had the Largest Survival Rate')
elif (thirdClassPercent > secondClassPercent) & (thirdClassPercent > firstClassPercent):
    print('Third Class Had the Largest Survival Rate')
else:
    print('There must be a tie')

First Class Had the Largest Survival Rate

**Answer:** First Class Had the Largest Survival Rate

---

## Part 11: Critical Thinking (Track B)

### Question 9: Important Factors

Based on your analysis, what were the THREE most important factors for survival?

Support with specific statistics.

**Your Answer:**

1. Being Young
2. Being Rich (1st Class)
3. Being a Woman

### Question 10: Pandas to SQL

You filtered with: `titanic[(titanic['sex'] == 'female') & (titanic['survived'] == 1)]`

How do you think this might look in SQL? (Guess - we'll learn this next!)

**Your Answer:** SELECT * WHERE sex = female AND survived = 1

---

## Submission Checklist

- [ ] Completed all exercises including Track B sections
- [ ] Run all cells successfully
- [ ] Added name and date at top
- [ ] Answered all questions
- [ ] Saved as `dbAppsTask02TrackB.ipynb`
- [ ] Pushed to GitHub

**Excellent work! You're ready for SQL!**